@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

:root {
    --primary-color: #dc732d;
    --secondary-color: #F5F5F5;
    --accent1-color: #A3C2E0;
    --accent2-color: black;

    --heading-font: Lobster, serif;
    --paragraph-font: Roboto, serif;

    --nav-background-color: #F5F5F5;
    --nav-link-color: #40c5c9;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #40c5c9;
}

h1 {
    font-family: Lobster, serif;
    color: var(--primary-color);
    position: absolute;
    right: 130px;
    top: 300px;
    height: 100px;
    font-size: 3rem;
}

h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-size: 2.5rem;
    text-align: center;
}

body {
    font-family: var(--paragraph-font);
    max-width: 100000px;
    padding: 20px;
}

p {
    padding: 1px;
    font-size: 2rem;
}

.hero img {
    display: block;
    width: 100%;
	height: auto;
}

article {
    position: absolute;
    top: 400px;
    right: 100px;
    width: 300px;
    color: black;
    text-align: left;
    background-color: #aff3f5;
}

article img {
    float: right;
    width: 30px;
    height: auto;
    padding: 1px;
}

figure {
    max-width: 200px;
    text-decoration: solid;

}

.grid {
    display: grid;
    align-items: flex-start;
}

nav {
    text-align: right;
    color: rgb(36, 2, 36);
}

.navigation {
    display: flex;
    list-style: none;
    color: rgb(36, 2, 36);
}

.navigation a {
	display: block;
	color: rgb(36, 2, 36);
	padding: 38px;
    padding-right: 75px;
	text-decoration: none;
    background-color: rgb(241, 240, 240);
    font-size: 2rem;
}

.navigation a:hover {
    color: crimson;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 160px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

section {
    text-align: center;
}

footer {
    text-align: center;
    font-weight: 400;
	background-color: #a95dc2;
}

footer p {
	color: white;
	line-height: 2em;
}

footer {
    display: block;
    unicode-bidi: isolate;
}