@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@media screen and (max-width: 1500px) {

    .hamburger {
        display: block;
        height: 60px;
        margin-left: auto;
        position: relative;
        z-index: 10;
        width: 60px;
        border: none;
        background-color: transparent;
    }

    .hamburger.-active .hamburger__line {
        background-color: transparent;
    }

    .hamburger.-active .hamburger__line::before {
        top: 0;
        transform: rotate(45deg);
    }

    .hamburger.-active .hamburger__line::after {
        top: 0;
        transform: rotate(-45deg);
    }

    .hamburger__line {
        height: 2px;
        position: absolute;
        top: 23px;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        background-color: white;
        transition: 0.4s;
    }

    .hamburger__line:before,
    .hamburger__line:after {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        background-color: white;
        transition: inherit;
    }

    .hamburger__line:before {
        top: -6px;
    }

    .hamburger__line:after {
        top: 6px;
    }

    .hamburger__text {
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .header__nav-area {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 9;
        height: 100vh;
        width: 300px;
        visibility: hidden;
        padding-top: 60px;
        background-color:#351836;
        transition: 0.4s;
    }

    .header__nav-area.-active {
        right: 0;
        visibility: visible;
    }

    .global-navigation {
        padding-top: 40px;
        padding-right: 25px;
        padding-bottom: 120px;
        padding-left: 25px;
    }

    .global-navigation__list > li {
        padding-bottom: 20px;
        border-bottom: 2px solid white;
    }

    .global-navigation__list > li + li {
        margin-top: 20px;
    }

    .global-navigation__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-weight: 900;
        transition: color 0.4s;
        font-size: 0.875rem;
    }

    .global-navigation__link.-accordion {
        position: relative;
        background: none;
        border: none;
        width: 100%;
        padding: 0;
    }

    .global-navigation__link.-accordion::after {
        content: '';
        display: block;
        height: 12px;
        position: absolute;
        top: 50%;
        right: 5px;
        width: 2px;
        background-color: #351836;
        transform: translateY(-50%);
        transition: transform 0.4s;
    }

    .global-navigation__link.-accordion::before {
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        top: 50%;
        right: 0;
        width: 12px;
        background-color: #351836;
        transform: translateY(-50%);
    }

    .global-navigation__link.-active::after {
        transform: translateY(-50%) rotate(-90deg);
    }

    .accordion {
        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: 0.4s;
    }

    .accordion.-active {
        height: auto;
        padding-top: 30px;
        visibility: visible;
    }

    .accordion__list li {
        font-size: 0.75rem;
    }

    .accordion__list li + li {
        margin-top: 21px;
    }

    .accordion__link {
        color: black;
    }


    body {
        font-family: DM Sans, 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        background-color: white;
    }
    
    header {
        background-color: #351836;
        color: white;
        display: flex;
        justify-content:space-around;
        padding: 10px 20px;
        align-items: center;
    }
    
    h1 {
        text-align: left;
        font-size: 30px;
    }
    
    .menu {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        margin: 5px;
        list-style: none;
        padding: 0;
    }
    .menu li {
        margin:10px;
        text-align: center;
    }
    
    .menu a {
        color: white;
        text-decoration: none;
        font-size: 17px;
    }
    
    .menu a:hover {
        background-color: white !important;
    }
    
    main {
        width: 1200px;
        max-width: 90%;
        margin: 20px auto;
        padding: 20px;
    }
    
    .image {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }
    
    .temple-card {
        border: 1px solid #351836;
        border-radius: 8px;
        padding: 5px;
        background-color: #351836;
        box-shadow: 0 4px 8px white;
    }
    
    .temple-card h3 {
        margin: 0;
        color: white;
        font-size: 24px;
    }
    
    .temple-card p {
        margin: 4px 0;
        color: white;
        font-family: DM Sans;
    }
    
    .temple-card img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        margin-top: 10px;
        background-color: white;
    }
    
    footer {
        background-color: #351836;
        color: white;
        text-align: center;
        padding: 20px;
        position: relative;
        bottom: 0;
    }
    
}












@media screen and (max-width: 630px) {

    body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        background-color: white;
    }
    
    header {
        background-color: #351836;
        color: white;
        display: flex;
        justify-content:space-around;
        padding: 10px 20px;
        align-items: center;
    }
    
    h1 {
        text-align: left;
        font-size: 20px;
    }
    
    .menu {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        margin: 5px;
        list-style: none;
        padding: 0;
    }
    
    .menu li {
        margin:10px;
        text-align: center;
    }
    
    .menu a {
        color: white;
        text-decoration: none;
        font-size: 17px;
    }
    
    .menu a:hover {
        background-color: white !important;
    }
    
    main {
        width: 1200px;
        max-width: 90%;
        margin: 20px auto;
        padding: 20px;
    }
    
    .image {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }
    
    .temple-card {
        border: 1px solid #351836;
        border-radius: 8px;
        padding: 16px;
        background-color: #512453;
        box-shadow: 0 4px 8px white;
    }
    
    .temple-card h3 {
        margin: 0;
        color: white;
        font-size: 24px;
    }
    
    .temple-card p {
        margin: 4px 0;
        color: white;
    }
    
    .temple-card img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        margin-top: 10px;
    }
    
    footer {
        background-color: white;
        color: white;
        text-align: center;
        padding: 20px;
        position: relative;
        bottom: 0;
    }
    
    @media screen and (max-width: 1200px) {
        .image {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media screen and (max-width: 700px) {
        .image {
            display: grid;
            grid-template-columns: 1fr;
        }
    }





    .hamburger {
        display: block;
        height: 60px;
        margin-left: auto;
        position: relative;
        z-index: 10;
        width: 60px;
        border: none;
        background-color: transparent;
    }

    .hamburger.-active .hamburger__line {
        background-color: transparent;
    }

    .hamburger.-active .hamburger__line::before {
        top: 0;
        transform: rotate(45deg);
    }

    .hamburger.-active .hamburger__line::after {
        top: 0;
        transform: rotate(-45deg);
    }

    .hamburger__line {
        height: 2px;
        position: absolute;
        top: 23px;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        background-color: white;
        transition: 0.4s;
    }

    .hamburger__line:before,
    .hamburger__line:after {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        background-color: white;
        transition: inherit;
    }

    .hamburger__line:before {
        top: -6px;
    }

    .hamburger__line:after {
        top: 6px;
    }

    .hamburger__text {
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .header__nav-area {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 9;
        height: 100vh;
        width: 300px;
        visibility: hidden;
        padding-top: 60px;
        background-color: #351836;
        transition: 0.4s;
    }

    .header__nav-area.-active {
        right: 0;
        visibility: visible;
    }

    .global-navigation {
        padding-top: 40px;
        padding-right: 25px;
        padding-bottom: 120px;
        padding-left: 25px;
    }

    .global-navigation__list > li {
        padding-bottom: 20px;
        border-bottom: 2px solid white;
    }

    .global-navigation__list > li + li {
        margin-top: 20px;
    }

    .global-navigation__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-weight: 900;
        transition: color 0.4s;
        font-size: 0.875rem;
    }

    .global-navigation__link.-accordion {
        position: relative;
        background: none;
        border: none;
        width: 100%;
        padding: 0;
    }

    .global-navigation__link.-accordion::after {
        content: '';
        display: block;
        height: 12px;
        position: absolute;
        top: 50%;
        right: 5px;
        width: 2px;
        background-color: #351836;
        transform: translateY(-50%);
        transition: transform 0.4s;
    }

    .global-navigation__link.-accordion::before {
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        top: 50%;
        right: 0;
        width: 12px;
        background-color: #351836;
        transform: translateY(-50%);
    }

    .global-navigation__link.-active::after {
        transform: translateY(-50%) rotate(-90deg);
    }

    .accordion {
        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: 0.4s;
    }

    .accordion.-active {
        height: auto;
        padding-top: 30px;
        visibility: visible;
    }

    .accordion__list li {
        font-size: 0.75rem;
    }

    .accordion__list li + li {
        margin-top: 21px;
    }

    .accordion__link {
        color: white;
    }


}