body {
    font-family: "Roboto", sans-serif;
}

header, main,
footer {
    max-width: 640px;
    margin: 1 rem auto;
    border: 1px;
    padding: 1rem;
    background-color: aqua;
}

main {
    display: grid;
    grid-column: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: aliceblue;
}